<div ng-include src="'views/header.html'"></div>
<br/><br/><br/><br/>
<body bgcolor="#FDFDFD">

    <div class="ui raised very padded container segment">

        <div class="ui right aligned container">
            <div class="card mb-3">
                <img class="card-img-top" src="{{event.get('coverPhoto').url()}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{event.get('name')}}</h4>
                    <p class="card-text">{{event.get('description')}}</p>
                    <p class="card-text">{{event.get('localisation')}}</p>
                    <p class="card-text">Du {{event.get('dateStart')}} à {{event.get('hourStart')}} au {{event.get('dateEnd')}} à {{event.get('hourEnd')}}</p>
                    <p class="card-text"><small class="text-muted">Pôle : {{event.get('sector')}}</small></p>
                    <a href="{{event.get('link')}}"><p class="card-text">Lien vers l'inscription</p></a>
                    <table class="ui striped table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>E-mail</th>
                                <th>Numéro de téléphone</th>
                                <th>Campus</th>
                                <th>Filière</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="peopleRegister in peoplesRegister">
                            <tr>
                                <td>{{peopleRegister.get('name')}}</td>
                                <td>{{peopleRegister.get('firstname')}}</td>
                                <td>{{peopleRegister.get('mail')}}</td>
                                <td>{{peopleRegister.get('phone')}}</td>
                                <td>{{peopleRegister.get('campus')}}</td>
                                <td>{{peopleRegister.get('filiere')}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr><th>{{peoplesRegister.length}} inscrit(s)</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>