<body bgcolor="#FDFDFD">

    <div class="ui raised very padded container segment">

        <div class="ui  container">
            <div class="card mb-2">
                <img class="card-img-top" src="{{event.get('coverPhoto').url()}}" alt="Card image cap">
                <div class="card-body">  
                    <div class="ui statistics">
                        <div class="statistic">
                            <div class="value">
                                {{minDay}}
                            </div>
                            <div class="label">
                                {{minMonth}}
                            </div>

                        </div>
                        <div class="statistic four">
                            <h1 class="ui four header center">{{event.get('name')}} - Nice</h1>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    <div class="sixteen wide column">
                        <div class="ui grid">

                            <div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
                                <div class="event description"><p></p></div></div> 
                            <div class="five wide computer five wide tablet sixteen wide mobile column">
                                <div class="info-title margin-top margin-bottom">Date</div> 
                                <div class="info">
                                    {{minDay}} {{minMonth}} {{minYear}} (Début)
                                </div> <div class="info">
                                {{maxDay}} {{maxMonth}} {{maxYear}} (Fin)
                                </div></div></div></div>
                    <h4 class="ui large horizontal divider header">
                        <i class="large ticket icon"></i>
                        Billet
                    </h4>
                    <div class="ui left green segment">
                        <div class="ui grid">
                            <div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
                                <div class="ui large header">
                                    Billet Numérique - {{event.get('name')}}                                     
                                    <div class="sub header">
                                        Gratuit											                                       
                                    </div>
                                </div>
                            </div> 
                            <div class="five wide computer five wide tablet sixteen wide mobile column">
                                <div class="ui grid">
                                    <div class="sixteen wide column right aligned mobile-hidden">
                                    </div> 
                                    <div class="ui small basic icon buttons">
                                        <button class="ui button">{{numberOfTicket}}</button> 
                                        <button class="ui button" ng-click="numberOfTicket = numberOfTicket + 1" ng-hide="numberOfTicket == 1">+</button>
                                    </div>
                                    <div class="sixteen wide column right aligned">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide column right aligned">
                        <div class="ui grid">
                            <div class="eleven wide computer eight wide tablet sixteen wide mobile column mobile-hidden">
                            </div> 
                            <div class="five wide computer eight wide tablet sixteen wide mobile column"><!----> 
                                <a href="{{event.get('link')}}"><button id="addToCart" class="ui big fluid blue button" ng-hide="numberOfTicket == 0">Valider</button></a>
                            </div>
                        </div>
                    </div>
                     <h4 class="ui large horizontal divider header">
                        <i class="large announcement icon"></i>
                        Description
                    </h4>
                    <div class="ui piled segment">
                        <p>{{event.get('description')}}</p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</body>