<body bgcolor="#FDFDFD">

    <div class="ui raised very padded container segment">

        <div class="ui right aligned container">
            <div class="card mb-3">
                <img class="card-img-top" src="{{event.get('coverPhoto').url()}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{event.get('name')}}</h4>
                    <p class="card-text">{{event.get('description')}}</p>
                    <p class="card-text">{{event.get('localisation')}}</p>
                    <p class="card-text">Du {{event.get('dateStart')}} à {{event.get('hourStart')}} au {{event.get('dateEnd')}} à {{event.get('hourEnd')}}</p>
                    <a href="{{event.get('link')}}"><p class="card-text">Lien vers la billetterie</p></a>
                </div>
            </div>
        </div>
    </div>
</body>