<br/><br/><br/><br/><br/><br/><br/><br/>
<div class="ui centered center aligned floated text container">
    <form role="form" novalidate="novalidate" ng-submit="login()">
    <div class="content">
        <div class="ui grid">
            <div class="row">
                <div class="three wide column"></div>
                <div class="ten wide column">
                    <img class="ui centered center aligned image" src="images/logo_face_06.jpg">
                </div>
                <div class="three wide column"></div>
            </div>
            <div class="row">
                <div class="three wide column"></div>
                <div class="ten wide column">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-model="username" placeholder="Username" aria-label="Username" aria-describedby="sizing-addon2">
<!--                        <input ng-model-options="{ updateOn: 'blur' }" type="email" ng-model="username" class="form-control" placeholder="e-mail" name="email" ng-pattern='patern' ng-pattern-err-type="badEmail" email-err-type="badEmail" required required-err-type="required" autofocus>-->
                    </div>
                </div>
                <div class="three wide column"></div>
            </div>
            <br/>
            <div class="row">
                <div class="three wide column"></div>
                <div class="ten wide column">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-model="password" placeholder="Mot de passe" aria-label="Username" aria-describedby="sizing-addon2">
                        
<!--                        <input ng-model-options="{ updateOn: 'blur' }" type="password" ng-model="password" class="form-control" placeholder="mot de passe" name="password" required required-err-type="required" value="">-->
                    </div>
                </div>
                <div class="three wide column"></div>
            </div>
            <br/>
            <div class="row">
                <div class="three wide column"></div>
                <div class="ten wide column">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="logIn()">Connexion</button>
<!--                    <button id="validate" type='submit' v-busy="isBusy" v-busy-label="Chargement" class="ui fluid button blue" v-pressable>Connexion</button>-->
                </div>
                <div class="three wide column"></div>
            </div>
        </div>
    </div>
    </form>
</div>