<div ng-include src="'views/header.html'"></div>
<br/><br/><br/><br/>
<body bgcolor="#FDFDFD">

    <div class="ui raised very padded container segment">
        <div class="ui stackable centered grid">
            <div ng-repeat="user in users track by $index">
                <div class="ui link cards">
                    <div class="card">
                        <div class="ui fluid image">
                            <img src="{{user.get('profilPicture').url()}}" style="height: 200px; overflow: hidden; object-fit:cover">
                        </div>
                        <div class="content">
                            <div class="header">{{user.get('name')}} {{user.get('firstname')}}</div>
                            <div class="description">
                                <i class="call icon"></i>{{user.get('phone')}}
                                <br/>
                                <i class="mail icon"></i>{{user.get('username')}}
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="right floated ui icon button red" ng-click="deleteUser($index)">
                                <i class="trash icon white"></i>
                            </button>

                            <span>
                                <i class="user icon"></i>
                                {{user.get('sector')}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>